* {
    margin: 0;
}

.navbar {
    /* border:solid 10px red; */
    padding-bottom: -60px;
}

#background {
    background-color: #FAF1EC;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#logohaut {
    position: relative;
    height: 15em;
    width: 15em;
}

#favori {
    /* margin-left: 100px;  */
    margin-left: 10%;
}

#panier {
    /* margin-left: -100px; */
    margin-left: -20%;
}

#login {
    /* margin-left: -100px; */
    margin-left: -20%;
}

#logo {
    height: 7em;
    width: 7em;
    margin-left: 35%;
}

#reseaux {
    width: 15%;
}

.dropdown{
    margin-left: 20%;


}

.col-sm-6{
    justify-content: center ;
    margin-left: 25%;

}

.card-img-top{
    height: 30%;
    object-fit: contain;
}

.btn-discover{
    margin: 1rem auto 1rem auto;
}

#acheter{
    margin-left: 57%;

}

#ajouter{
    margin-left: 69%;

}

#pouce{
    width: 45%;
}