*{
    margin: 0;
}
.navbar{
    border:solid 10px red;
    padding-bottom: -60px;
}

#background{
    background-color: #FAF1EC;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#logohaut{
    position: relative;
    height: 15em;
    width: 15em;
}
#favori{
margin-left: 100px; 
}

#panier{
margin-left: -100px;
}

#login{
margin-left: -100px;
}

#logo{
height: 7em;
width: 7em;
margin:0px 510px;
}