* {
    margin: 0;
}

.navbar {
    /* border:solid 10px red; */
    padding-bottom: -60px;
}

#background {
    background-color: #FAF1EC;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#logohaut {
    position: relative;
    height: 15em;
    width: 15em;
}

#favori {
    /* margin-left: 100px;  */
    margin-left: 10%;
}

#panier {
    /* margin-left: -100px; */
    margin-left: -20%;
}

#login {
    /* margin-left: -100px; */
    margin-left: -20%;
}

#logo {
    height: 7em;
    width: 7em;
    margin-left: 35%;
}

#reseaux {
    width: 15%;
}

.dropdown{
    margin-left: 20%;


}

.col-sm-6{
    justify-content: center ;
    margin-left: 25%;

}

.card-img-top{
    height: 30%;
    object-fit: contain;
}

.card-title{
    margin: 6% 0;
    height: 4rem;
    overflow: hidden;

}

.card-text{
    height: 3rem;
    overflow: hidden;
}

.discover-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#acheter{
    margin-left: 57%;

}

#ajouter{
    margin-left: 69%;

}

#pouce{
    width: 45%;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
//$          LOGIN            $
//$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.input-field {
    margin-top: 2rem;
    margin-left: 43%;
}

.input-field input {
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

form input[type="submit"] {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.4rem;
    margin-left: 48%;
}